-i https://pypi.org/simple
cffi==1.11.5
click==7.0
cycler==0.10.0
kiwisolver==1.0.1
llvmlite==0.26.0
matplotlib==3.0.2
numba==0.41.0
numpy==1.15.4
pycparser==2.19
pyparsing==2.3.0
python-dateutil==2.7.5
resampy==0.2.1
scipy==1.1.0
six==1.11.0
soundfile==0.10.2
